<div class="admin-page">

  <!-- Main Content -->
  <main class="admin-main">
    <div class="admin-container">
      <!-- Stats -->
      <app-admin-stats [bookings]="bookings"></app-admin-stats>
      
<div *ngIf="error">
  <span>{{ errorMsg() }}</span>
</div>
      

      <!-- Bookings Table -->
      <app-admin-bookings-table
        [bookings]="bookings"
        [isLoading]="isLoading"
        [updatingId]="updatingId"
        (refresh)="loadBookings()"
        (updateStatus)="updateStatus($event.bookingId, $event.status)">
      </app-admin-bookings-table>
    </div>
  </main>
</div>
