<div class="card create-card">
  <h2>تحويل جديد</h2>
  <form >
    <div class="form-row">
      <div class="form-group">
        <label>المبلغ (EGP)</label>
        <input
          type="number"
          class="cinema-input"
          [(ngModel)]="transferData.amount"
          name="amount"
          required
          min="1"
          placeholder="أدخل المبلغ"
        />
      </div>
      
    </div>
   <div *ngIf="error">
{{errorMsg}}
   </div>
    <button type="submit" (click)="onSubmit()" class="btn-primary" [disabled]="isSubmitting">
      @if (isSubmitting) {
        جاري الإرسال...
      } @else {
        تحويل
      }
    </button>
  </form>
</div>
